<footer class="footer">
  <small>
    The <a href="https://railstutorial.jp/">Ruby on Rails Tutorial</a>
    by <a href="https://www.michaelhartl.com/">Michael Hartl</a>
  </small>
  <nav>
    <ul>
      <il><%= link_to "About", about_path %></il>
      <il><%= link_to "Contact", contact_path %></il>
      <il><a href="https://news.railstutorial.org/">News</a></il>
    </ul>
  </nav>
</footer>
