<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "sample app", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <il><%= link_to "Home", root_path %></il>
        <il><%= link_to "Help", help_path %></il>
        <il><%= link_to "Log in", '#' %></il>
      </ul>
    </nav>
  </div>
</header>
